<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style>

        table {
            border-collapse: collapse; /* объединение границ */
            width: 100%;
        }

        th, td {
            border: 1px solid black; /* стиль границы */
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2; /* цвет фона заголовков */
        }

    </style>

</head>
<body>
<div>


    <table >
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <td>Email</td>
            <td>Roles</td>

        </tr>
        </thead>

        <tbody>

        <tr>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td>
                <p th:each="role: ${user.getRoles()}" th:text="${role.getName()}"></p>
            </td>
            <td th:if="${admin}"><a th:href="@{/user/edit(id=${user.getId()})}">Изменить</a></td>
            <td th:if="${admin}">
                <form  th:method="post" th:object="${user}" th:action="@{/user/delete/{id}(id=${user.getId()})}">
                    <input type="submit" value="Удалить">
                </form>
            </td>
        </tr>
        </tbody>

    </table>


    <br>
    <hr>
    <a th:if="${admin}" th:href="@{/admin/users}">К списку пользователей</a>
</div>
<form  th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти">
</form>
</body>
</html>